/* result css */
.result_price {
    font-size: large;
}

.result_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.result_info {
    display: flex;
    width: 200px;
    height: auto;
    flex-direction: column;
    border: 1px solid black;
}

.result_img {
    width: 200px;
    height: 200px;
}
/* //result css */